.invoice-container {
    max-width: 1000px;
    margin: auto;
}

.flex-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 0 0.5rem;
}

.flex {
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 0.5rem;
}

.marg1tb {
    margin: 1rem auto;
}

.button {

    padding: 0.5rem;
    width: 90%;
    cursor: pointer;
    background-color: #E63946;
    color: #FFF;
    border-radius: 0.5rem;
    outline: none;
    border: 0;
    font-size: 1.25rem;
}

button {
    padding: 0.5rem;
}