.login-page {
    max-width: 600px;
    margin: 2rem auto;

}

.Log-in {
    max-width: 800px;
    width: 100%;
    margin: 2rem auto;
    text-align: center;
}

.login-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

label {
    text-align: left !important;
}


input {
    background: transparent;
    opacity: 0.7;
    transition: 0.1s;
    max-width: 300px;
    width: 100%;
    padding: 0.5rem 0rem;
    outline: 0;
    border-bottom: 1px solid #E63946;
    border-right: 0;
    border-top: 0;
    border-left: 0;
}

.login-btn {
    background: #E63946;
    margin: 0;
    max-width: 300px;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 1rem;
    transition: 0.3s;
    cursor: pointer;
}

input:focus {
    opacity: 1;
    border-bottom: 2px solid #E63946;
}

.login-btn:hover {
    background-color: #CCFBFE;

}

.text-center {
    text-align: center;
}

.user-profile {

    max-width: 1000px;
    width: 100%;
    margin: 1.5rem auto;
}

.user-flex {
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;

    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.user-flex img {
    width: 200px;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 1rem;
}

.margauto {
    margin: auto !important;
}

@media print{
  
}